<IfModule mod_rewrite.c>
    RewriteEngine On
    # Garante que .php seja executado
    RewriteRule ^index\.php$ - [L]
    
    # Se o arquivo ou diretório não existir, redireciona para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>